/*@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");*/
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 13px !important;
}

#app-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 100vh;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loading {
  width: 120px;
}
.step-card {
  margin-top: 20px;
  border: none;
  margin-right: 0 !important;
}

.button-next-step {
  float: right;
}

.product-list-image {
  border-radius: 8%;
}

.image-fix-150-150 {
  width: 150px !important;
  height: 150px !important;
  margin-left: 20px !important;
}

.list-label-none-style {
  margin-left: 18px;
}

.list-label-none-style li {
  list-style: none;
  margin-right: 20px;
}

.filter-none-style {
  list-style: none;
}

.filter-none-style li {
  margin-top: 5px;
}

.hidden-des {
  white-space: normal !important;
}

.card-margin-bottom-30 {
  margin-bottom: 30px !important;
}

.company-logo-profile {
  max-width: 100%;
  max-height: 100%;
}

.button-membership-individual {
  margin-top: 5%;
  margin-left: 25%;
  height: 60px !important;
}

.button-membership-company {
  margin-left: 25% !important;
  height: 60px !important;
  margin-top: 20px !important;
  /* width: 50% !important; */
}

.button-membership-company .ant-radio-button-wrapper {
  text-align: center !important;
}

.button-membership-company .ant-radio-button-wrapper .ant-radio-button {
  width: 150px !important;
}

.radio-membership {
  margin-top: 10px !important;
  margin-left: 0 !important;
}

.radio-membership-right {
  margin-left: 50px !important;
}

.price-membership {
  margin-left: 5% !important;
}

.price-membership-company {
  margin-left: 25% !important;
}

.guild-card {
  margin-bottom: 5px !important;
}

.button-membership-individual-alone {
  margin-left: 35%;
  margin-top: 10px;
  height: 40px !important;
  width: 200px;
}

.header-help {
  background-color: #bdbdbd !important;
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}

.body-help {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  /* text-align: center; */
}

.community-profile {
  border: solid 1px;
}

.guard-brandname {
  color: green;
}

.button-updateform {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 45%;
}

.guide-form .ant-anchor .ant-anchor-ink::before {
  width: 0;
}

.guide-form .ant-anchor-wrapper {
  overflow: inherit !important;
  background-color: #f5f5f5 !important;
}

.guide-layout {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
}

.help-card .gx-package:hover {
  -webkit-transform: scale(0.95) !important;
  transform: scale(0.95) !important;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03) !important;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03) !important;
}

.icon-green {
  color: green;
}

.icon-red {
  color: red !important;
}

.TicketItem-Contact {
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-upgrade {
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.015em;
  font-weight: 900;
  color: steelblue;
  text-align: center;
}

.view-all-comment {
  text-align: center;
  /* margin-top: 10px ; */
  position: absolute;
  bottom: 0;
  width: 94% !important;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  background: #fff;
  border-radius: 0 0 4px 4px;
}

.overflow-scroll {
  overflow-y: scroll;
}

.upgrade-alert {
  /* background: -webkit-linear-gradient(left, #f38b04, #ffd59e) !important; */
  background: -webkit-linear-gradient(left, #358df1, #b6d8ff) !important;
  border-radius: 6px;
}

.upgrade-alert .ant-alert-with-description,
.upgrade-alert .ant-alert-with-description .ant-alert-message,
.upgrade-alert .ant-alert-warning .ant-alert-icon,
.upgrade-alert .ant-alert-close-icon .anticon-close {
  color: white;
}

.upgrade-alert .ant-alert-success .ant-alert-icon {
  color: white;
}

.upgrade-alert .ant-alert-warning,
.upgrade-alert .ant-alert-success {
  border: none;
}

.view-more {
  border-radius: 5px;
  border: none;
  color: #44464b !important;
  /* padding-top: 5px !important; */
  padding-bottom: 5px !important;
  text-align: center;
  font-size: 16px;
  /* margin-right: 15px !important; */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.view-more:hover {
  background-color: #cdced4;
  color: white !important;
}

.dashboard-company .ant-avatar {
  margin-bottom: 10px !important;
}

.left-detail-product .ant-card-body {
  padding: 0px !important;
}

.left-detail-product .ant-card-bordered {
  border: none !important;
}

.fix-margin-bottom-p div div div div p {
  margin-bottom: 0.4em !important;
}

.travel-layer {
  -webkit-transform: rotate(-8deg) skew(20deg) scale(0.6) translate(0, 25px);
  transform: rotate(-8deg) skew(20deg) scale(0.6) translate(0, 25px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.travel-layer .travel-layer-item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

.travel-layer-item span {
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  top: 50%;
  left: 50%;
}

.travel-layer-item:hover span:nth-child(1) {
  -webkit-transform: translate(3px, -3px);
  transform: translate(3px, -3px);
  opacity: 1;
}

.travel-layer-item:hover span:nth-child(2) {
  -webkit-transform: translate(6px, -6px);
  transform: translate(6px, -6px);
  opacity: 0.8;
}

.travel-layer-item:hover span:nth-child(3) {
  -webkit-transform: translate(9px, -9px);
  transform: translate(9px, -9px);
  opacity: 0.6;
}

.travel-layer-item:hover span:nth-child(4) {
  -webkit-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
  opacity: 0.4;
}

/* ---------- temp ----------- */
.filter-blur-1 {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.filter-blur-2 {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.wrap-money-on-image {
  right: 0;
  top: 0;
}

.money-on-image {
  border-radius: 0 0 0 1em;
}

.wrap-remaining-on-image {
  right: 0;
  bottom: -0.5em;
  padding: 0.5em;
}

.remaining-on-image {
  border-radius: 0 0 0 1em;
}

.hover-underline a {
  color: #00000060;
}

.hover-underlineWhite {
  color: #00000060 !important;
  text-decoration: underline;
  font-weight: bold;
}

.hover-underlineWhite:hover {
  cursor: pointer;
  text-decoration: none;
}

.hover-underline,
.hover-scale {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.hover-underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hover-scale:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
}

.hover-drop-shadow:hover {
  -webkit-filter: drop-shadow(2px 4px 6px #00000038);
  filter: drop-shadow(2px 4px 6px #00000038);
}

.gx-purple-gradient {
  background: -o-linear-gradient(left, #872776, #352883);
}

.text-ellipsis-badge sup {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.h-350 {
  height: 350px;
}

.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.no-border-card .ant-card-body {
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.no-bor-rad .ant-card,
.no-bor-rad .gx-card-widget,
.no-bor-rad .ant-alert {
  border-radius: 0px !important;
}

#mapid {
  height: 180px;
}

.p-0-content-box
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0 !important;
}

.image-in-banner {
  background: no-repeat
    url(https://www.gstatic.com/identity/boq/accountsettingssecuritycommon/images/sprites/2sv_x2-376cf0cbd62be6b103c146c2464cdff9.png)
    0 -2818px;
  background-size: 304px 3143px;
  width: 253px;
  height: 163px;
  margin: auto;
  margin-bottom: 0;
  z-index: 2;
}

.complete-profile-panel-p-b-0 {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.complete-profile-panel-p-b-0
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding-bottom: 0;
}

.complete-profile-panel-last-p-b-0
  > .ant-collapse-content:last-child
  > .ant-collapse-content-box {
  padding-top: 0;
  padding-bottom: 0;
}

.ant-collapse-item:last-child > .ant-collapse-content {
  border-radius: 0 !important;
}

.border-none .ant-select-selection {
  border: none;
}

.cursor-not-allow {
  cursor: not-allowed;
}

.padding-collapse .ant-collapse-header {
  padding: 0 !important;
}

.menu-item {
  color: white;
}

.menu-item:hover {
  color: orange;
}

.hover-background:hover {
  background-color: #358df1;
  color: white;
}

.bg-blue {
  background-color: #358df1;
  color: white;
}

.gx-text-grey {
  color: #1f1e1e !important;
}

.block-w,
.block-nb,
.block-r,
.block-r-nb {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 2px 6px 2px rgba(60, 64, 67, 0.15) !important;
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 2px 6px 2px rgba(60, 64, 67, 0.15) !important;
}

.border-hover:hover {
  border: 1px grey solid;
}

.display-background-grey:after {
  background-color: rgba(195, 195, 195, 0.133) !important;
}
.footer {
  clear: both;
  position: relative;
  margin-top: auto;
}
.gx-popover-scrollNone > div:first-of-type {
  overflow: auto !important;
}
/*# sourceMappingURL=loader.css.map */
